body {
  /*background: url(../images/groningen_bg.jpg) no-repeat center center fixed;*/
  background-size: cover;
  color: black;
}

.navbar-top {
  position: relative;
  width: 0px;
}

.cover {
  padding: 10px 20px;
  /*background: rgba(29, 16, 113, 0.90);*/
  border-radius: 6px;
  }

.btn-lg {
  background-color: #F2AB15;
  border: 0;
  margin: 10px 40px 0px 40px;
}

.masthead-nav > li {
  display: inline-block;
  background-color: #F2AB15;
}

.center {
  text-align: center;
}

.btn {
  background-color: #F2AB15;
}
.moi {
  margin: 700px;
}

.page {
  background: rgba(224, 224, 224, 0.90);
  padding-top: 1px;
  height: 100%;
}

.col-6 {
  background: rgba(224, 224, 224, 0.90);
}